.sequence-navigation .btn{
  height: 3.5rem !important;
}

.next-module-title {
  font-size: smaller;
  color: $text-color-primary;
  display: block;
  margin-top: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7rem;
}

.bg-light-purple{
  background-color: #FADCFA !important;
}

.unit-title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}